.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
~$pins.xlsx
pcb/mcguitarpedal/mcguitarpedal-backups/*
pcb/mcguitarpedal/~mcguitarpedal.kicad_sch.lck
pcb/mcguitarpedal/~mcguitarpedal.kicad_pcb.lck
mechanical/frontplate/case.20241117-191052.FCBak
*.FCBak
symbols.txt
